<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="input" type="CollegeFbsRankings.Infrastructure.Csv.CsvRepositoryConfiguration, CollegeFbsRankings.Infrastructure" />
    <section name="output" type="CollegeFbsRankings.Infrastructure.Sql.SqlRepositoryConfiguration, CollegeFbsRankings.Infrastructure" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="CollegeFbsData" connectionString="Data Source=|DataDirectory|CollegeFbsData.sqlite" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <input>
    <seasons>
      <add year="1998" numWeeksInRegularSeason="15" fbsTeamFile="..\..\..\Data\1998\FBS Teams.txt" fbsGameFile="..\..\..\Data\1998\FBS Scores.txt" />
      <add year="1999" numWeeksInRegularSeason="15" fbsTeamFile="..\..\..\Data\1999\FBS Teams.txt" fbsGameFile="..\..\..\Data\1999\FBS Scores.txt" />
      <add year="2000" numWeeksInRegularSeason="15" fbsTeamFile="..\..\..\Data\2000\FBS Teams.txt" fbsGameFile="..\..\..\Data\2000\FBS Scores.txt" />
      <add year="2001" numWeeksInRegularSeason="15" fbsTeamFile="..\..\..\Data\2001\FBS Teams.txt" fbsGameFile="..\..\..\Data\2001\FBS Scores.txt" />
      <add year="2002" numWeeksInRegularSeason="16" fbsTeamFile="..\..\..\Data\2002\FBS Teams.txt" fbsGameFile="..\..\..\Data\2002\FBS Scores.txt" />
      <add year="2003" numWeeksInRegularSeason="16" fbsTeamFile="..\..\..\Data\2003\FBS Teams.txt" fbsGameFile="..\..\..\Data\2003\FBS Scores.txt" />
      <add year="2004" numWeeksInRegularSeason="15" fbsTeamFile="..\..\..\Data\2004\FBS Teams.txt" fbsGameFile="..\..\..\Data\2004\FBS Scores.txt" />
      <add year="2005" numWeeksInRegularSeason="14" fbsTeamFile="..\..\..\Data\2005\FBS Teams.txt" fbsGameFile="..\..\..\Data\2005\FBS Scores.txt" />
      <add year="2006" numWeeksInRegularSeason="14" fbsTeamFile="..\..\..\Data\2006\FBS Teams.txt" fbsGameFile="..\..\..\Data\2006\FBS Scores.txt" />
      <add year="2007" numWeeksInRegularSeason="14" fbsTeamFile="..\..\..\Data\2007\FBS Teams.txt" fbsGameFile="..\..\..\Data\2007\FBS Scores.txt" />
      <add year="2008" numWeeksInRegularSeason="15" fbsTeamFile="..\..\..\Data\2008\FBS Teams.txt" fbsGameFile="..\..\..\Data\2008\FBS Scores.txt" />
      <add year="2009" numWeeksInRegularSeason="15" fbsTeamFile="..\..\..\Data\2009\FBS Teams.txt" fbsGameFile="..\..\..\Data\2009\FBS Scores.txt" />
      <add year="2010" numWeeksInRegularSeason="15" fbsTeamFile="..\..\..\Data\2010\FBS Teams.txt" fbsGameFile="..\..\..\Data\2010\FBS Scores.txt" />
      <add year="2011" numWeeksInRegularSeason="15" fbsTeamFile="..\..\..\Data\2011\FBS Teams.txt" fbsGameFile="..\..\..\Data\2011\FBS Scores.txt" />
      <add year="2012" numWeeksInRegularSeason="15" fbsTeamFile="..\..\..\Data\2012\FBS Teams.txt" fbsGameFile="..\..\..\Data\2012\FBS Scores.txt" />
      <add year="2013" numWeeksInRegularSeason="16" fbsTeamFile="..\..\..\Data\2013\FBS Teams.txt" fbsGameFile="..\..\..\Data\2013\FBS Scores.txt" />
      <add year="2014" numWeeksInRegularSeason="16" fbsTeamFile="..\..\..\Data\2014\FBS Teams.txt" fbsGameFile="..\..\..\Data\2014\FBS Scores.txt" />
      <add year="2015" numWeeksInRegularSeason="15" fbsTeamFile="..\..\..\Data\2015\FBS Teams.txt" fbsGameFile="..\..\..\Data\2015\FBS Scores.txt" />
    </seasons>
  </input>
  <output connectionStringName="CollegeFbsData" />
</configuration>